.table {
  display: block;
  border-spacing: 0;
  background-color: white;
  position: relative;
  overflow: auto;
  border: 1px solid lightgrey;
  border-radius: 3px;
  .tr {
    &:last-child {
      .td {
        border-bottom: 0;
      }
    }
  }

  .footer {
    border-top: 1px solid lightgrey;
  }

  .thead {
    .sticky {
      top: 0;
      position: sticky;
      background-color: #ffffff;
    }
  }

  .th,
  .td {
    margin: 0;
    padding: 3;
    border-bottom: 1px solid lightgrey;
    // border-right: 1px solid lightgrey;
    overflow: hidden;
    // align-content: center;

    &:last-child {
      border-right: 0;
    }

    &:hover {
      .resizer {
        opacity: 1;
      }
    }

    .filter {
      max-width: 100%;
    }
  }

  .tfoot {
    border-top: 1px solid lightgrey;
    overflow: visible;

    & > .td {
      border-right: 0;
    }
  }
}
