@import '../../../styles/colors';

.list-group {
  & > .list-header {
    background-color: map-get($theme-colors, primary);
  }
}

.list-header {
  & > div > h4 {
    color: white;
  }
}

.offcanvas {
  max-width: 350px;
  width: 15%;
  min-width: 85px;
  visibility: visible;
}
